**1-Write a Python program to calculate the length of a string using 2 ways

In [26]:
name ="Mahmoud"
print(len(name))

7

In [1]:
counter = 0
for i in name:
    counter = counter + 1
print(counter)

NameError: name 'name' is not defined

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [7]:
name = input()
if len(name) <3 :
    print(" ")
else :
    if name[-3: ] == "ing" :
        print(name+ "ly" )
    else:
        print(name + "ing")

mahmoud
mahmouding

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [4]:
List1 = ["Ahmed","Mahmoud","Abdallah","Mostafa"]
counter = 0
maxword = None
for name in List1 :
    if len(name)> counter :
        counter = len(name)
        maxword = name
print(maxword,counter)

Abdallah 8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [24]:
def change_sring(str1):
      return str1[-1:] + str1[1:-1] + str1[:1] 
print(change_sring('mahmoud'))

dahmoum

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [1]:
name = "MahmoudGamal"
print(name [::2])

Mhodaa

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [27]:
string = "Ahmed is Good, Mahmoud is very kindly "
words = string.split()
print(words)
for word in words:
    print(word,string.count(word))

['Ahmed', 'is', 'Good,', 'Mahmoud', 'is', 'very', 'kindly']
Ahmed 1
is 2
Good, 1
Mahmoud 1
is 2
very 1
kindly 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [28]:
name = input()
print(name.upper())

mahmoud
MAHMOUD

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [30]:
name = input()
if len(name) % 4 == 0 :
    print(name[::-1])

mahmoudd
dduomham

**10- Write a Python program to remove a newline in Python

**11-Write a Python program to check whether a string starts with specified characters

In [32]:
name = input()
character = "A"
if name.startswith(character):
    print("Yes")
else:
    print("No")

A
Yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [41]:
string = '''this man
tea
teenis'''

seplines = string.splitlines()
newlines = [" I Hate. " + line for line in seplines]
newlines

[' I Hate. this man', ' I Hate. tea', ' I Hate. teenis']

**13-Write a Python program to print the following numbers up to 2 decimal places

In [42]:
number = 5.46566
print(round(number,2))

5.47

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [44]:
print(""+"{:+.2f}".format(number))

+5.47

**15-Write a Python program to display a number with a comma separator

In [47]:
number =3.6
number2 = str(number)
number2.replace(".",",")

'3,6'

**16-Write a Python program to reverse a string using 2 ways

In [48]:
name = "Mahmoud" [::-1]
print(name)

duomhaM

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [49]:
name = "MahmoudGamal"
count = dict()
for i in name :
    if i in count:
        count[i] += 1
    else:
        count[i] =1
print(count)

{'M': 1, 'a': 3, 'h': 1, 'm': 2, 'o': 1, 'u': 1, 'd': 1, 'G': 1, 'l': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [50]:
name = "mahmooouuuddd"
for ch in name:
    if name.count(ch) == 1 :
        print(ch)
        break

a

**19-Write a Python program to remove spaces from a given string

In [51]:
name = "Mahmoud  Gamal"
name.replace(" ", "")

'MahmoudGamal'

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [53]:
list1 = ["Mahmoud" , "Mostafa" , "Ahmed"]
list1[0],list1[-1] =  list1[-1],list1[0]
print(list1)

['Ahmed', 'Mostafa', 'Mahmoud']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [55]:
l = [1,5,6,7,8,9,10]
pos1 = int(input())
pos2 = int(input())
l[pos1], l[pos2] = l[pos2] , l[pos1]
print(l)

2
3
[1, 5, 7, 6, 8, 9, 10]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [56]:
list1 = [100,300,450,1200,2000]

print(max(list1))

2000

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [57]:
list1 = [100,300,450,1200,2000]

print(min(list1))

100

**26-search for if an elem is existing in list

In [25]:
list1 = [100,300,450,1200,2000]
if 100 in list1:
    print("yes")
else:
    print("no")

yes

**27- clear python list using different ways

In [58]:
list1 = [100,300,450,1200,2000]
print(list1.clear())

None

**28-remove duplicated elements from a list

In [2]:
MyFamily =["ahmed","mostfa","mohamed"]
MyFamily.remove("ahmed")
print(MyFamily)

['mostfa', 'mohamed']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [3]:

a=[1,1,2,1,1,3,5]
print(a.count(1))

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [5]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
res = []
for i in test_list:
        freq = test_list.count(i)
        if freq > K and i not in res:
                res.append(i)
print("The Elements Is : " + str(res))

The Elements Is : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [7]:
number_of_elements = 6
a1 = [1,2,2,3,4,5]
a2 = []
for i in range(1, number_of_elements):
    r = max(a1[i], a1[i-1])
    a2.append(r)
for i in a2 :
    print(i,end=" ")

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [8]:
a = [1, 2, 3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and i!=k):
                print(a[i], a[j], a[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [9]:
import itertools

list1 = ['A', 'B', 'C']
list2 = [1, 2, 3]

combinations = list(itertools.product(list1, list2))

print(combinations)

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [10]:
l = [1, 1, 2, 3, 4 ,5 ,1, 2, 1]
if 1 in l :
    l.remove(1)
    l.remove(1)
    l.remove(1)
    l.remove(1)
    print(l)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [11]:
Original_list1 = ["Gfg","is","best"]
Original_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
res = [Original_list1[i] for i in Original_list2]
print (res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [4]:
dic1 = {1: 10, 2: 20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dict = { }
new_dict.update({1: 10, 2: 20 , 3:30, 4:40 ,5:50,6:60 })
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [13]:
user= {
   "Name": "Mahmoud",
    "Age": "19",
    "Country":"Egypt"

}
for key, value in user.items():
    print(key, value)

Name Mahmoud
Age 19
Country Egypt

**44- Write a Python script to merge two Python dictionaries

In [14]:
dict_1= {
   "Name": "Mahmoud",

}

dict_2 = {
    "Age": "19",
    "Country": "Egypt"
}

print(dict_1 | dict_2)

{'Name': 'Mahmoud', 'Age': '19', 'Country': 'Egypt'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [15]:
mydict = {'A': [10, 9, 8]}
for k,v in mydict.items():
    print(f'Max {k}={max(v)}, Min {k} ={min(v)}')

Max A=10, Min A =8

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [16]:
Original_Dict= {'c1': 'Red', 'c2': 'Green', 'c3':None}

new_Dict= {key:value for (key, value) in Original_Dict.items() if value is not None}
print(new_Dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [5]:
myTuple = (1,3,4,5,4)
print(myTuple[3])

5

**48-Write a Python program to unpack a tuple into several variables

In [18]:
tuple1= 5, 3, 2

a1,a2,a3 = tuple1
print(a1 + a2 + a3)
n1, n2, n3 =tuple1

10

**49-Write a Python program to add an item to a tuple

In [ ]:
Tuple are Immutable >> Cannot Add or Delete

**50-Write a Python program to convert a tuple to a string

In [17]:
tuple1= ('M', 'a', 'h', 'm', 'o', 'u', 'd')
String1 =  ''.join(tuple1)
print(String1)

Mahmoud

**51-Write a Python program to convert a list to a tuple

In [19]:
list1 = [5, 10, 7, 4, 15, 3]
tuple1= tuple(list1)
print(tuple1)

(5, 10, 7, 4, 15, 3)

**52-Write a Python program to reverse a tuple

In [21]:
tuple1 =(5,10,15,20)
tuple2 =reversed(tuple1)
print(tuple(tuple2))

(20, 15, 10, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [20]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1] + (100,) for i in list1 ])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [23]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print(string_list_to_tuple(str1))

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

**56-Write a Python program to add member(s) to a set.

In [6]:
a = {1,3,5,6,}
a.add(4)
print(a)

{1, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [7]:
a= {1,3,4,5}
a.remove(5)
print(a)

{1, 3, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [12]:
a= {1,3,5}
b= {1,3}
print(a)
print(a.intersection(b))
print(a)

a= {1,3,5,6}
b={1,3,5}
print(a)
print(a.difference(b))
print(a)

a= {1,3,5,6}
b={1,7,9}
print(a)
print(a.union(b))

{1, 3, 5}
{1, 3}
{1, 3, 5}
{1, 3, 5, 6}
{6}
{1, 3, 5, 6}
{1, 3, 5, 6}
{1, 3, 5, 6, 7, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [13]:
mySet1 ={100,60,40,3,1}
print(max(mySet1))
print(min(mySet1))

100
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.